<html>
<%- include('style')%>
<%- include('style2')%>

<title>tutorial programming</title>

    <body>
        <a href=<%= "article/:id" + articles.id %> > <%= articles.title $> </a>
    </body>
</html>