<html>
<%- include('style')%>
<%- include('style2')%>
<title>tutorial programming</title>
    <body>
        <br><br><br>
        <!--buat balikin bentuk JSON-->
        <!--<% JSON.stringify(articles) %> >>>> articles ini diambil dari res {articles: articles}) >>>yg parameter 1 nya (kiri)-->

        <!--buat nampiln-->
        <% articles.forEach(function(articles){ %>
            <li><a href="articles"><%= articles.title %></a></li>
            
            
        <% }); %>
    </body>
</html>