<html>
<%- include('style')%>
<%- include('style2')%>


<title>tutorial programming</title>

<body> 
    <br><br><br>
    <form action="/createarticle" method="POST">
        <input type="text" placeholder="title" name="title">
        <input type="text" cols="50" placeholder="content" name="content">
        <button type="submit">Submit</button>
        <!--<button type="backtohome"><a href="/">Back To Home</a></button>-->
    </form>

</body>
</html>