<html>
<%- include('style')%>
<%- include('style2')%>

<body>

    <br><br><br>
    THIS IS HOME.  WELCOME TO TUTORIAL PROGRAMMING!!!!!!

      <!--<li><a href="/">Home</a></li>
	  <li><a href="articles">Articles</a></li>
	  <li><a href="createarticle">Create Article</a></li>
	  <li><a href="categories">Categories</a></li>-->
      
</body>
</html>